img{
    width: 283px;
    height: 300px;
    border: 1px solid ;
    padding: 10px;
    margin: 5px;
    transition: all 1.5s;
}
h1{
    text-align: center;
    color: blue;
}
img:hover{
    /*transform: scale(1.2, 1.2);*/
    transform: rotate(360deg);
}
