ul{
    list-style-type:none ;
    /*margin: 0px;
    padding: 0px;*/
    background-color: lightblue;
    overflow: hidden;

}
li{
    float: left;
    height: 50px;
    margin-top: 25px;
    margin-left: 40px;
    
}
li a {
    text-decoration: none;
    color: grey;
    padding: 40px;
    font-size: 25px ;
}
li a:hover{
    background-color: hotpink;
}
